<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
  <div class="image-item-detail">
    <img style="width:100%;" [src]="itemPizza?.srcImg">
  </div>
    <div fxLayout="column" class="container-details-item">
    <h1>{{itemPizza?.name}}</h1>
    <h3>{{itemPizza?.description}}</h3>
    <div>
      <p>Do you want to make HALF & HALF ?</p>
      <mat-slide-toggle color="primary" [checked]="isHalf" (change)="halfPizza($event.source.checked)"></mat-slide-toggle>
    </div>
      
      <mat-tab-group dynamicHeight mat-align-tabs="start">
        <mat-tab label="Cheese">
          <section fxLayout="column" *ngFor="let topping of toppingsCheese">
            <mat-checkbox color="primary" fxLayout="row" [checked]="initChecked(topping)" (change)="checkedTopping($event.checked, topping)">
              <span>{{topping.name}}</span>
              <span>{{topping.price | number}} vnd</span>
            </mat-checkbox>
          </section>
        </mat-tab>
        <mat-tab label="Others">
          <section fxLayout="column" *ngFor="let topping of toppingsOther">
            <mat-checkbox color="primary" fxLayout="row" [checked]="initChecked(topping)" (change)="checkedTopping($event.checked, topping)">
              <span>{{topping.name}}</span>
              <span>{{topping.price | number}} vnd</span>
            </mat-checkbox>
          </section>   
        </mat-tab>
      </mat-tab-group>
      <button (click)="addItem()" style="margin-top:1rem;" mat-raised-button color="primary" class="mat-elevation-z button-select-card">
        <span>{{price | number}}</span>
        <span *ngIf="isHalf && !itemHalf">Select Half</span>
        <span *ngIf="!isHalf || itemHalf">Add to card</span>
        
      </button>
  </div>
</div>
