.example-spacer {
    flex: 1 1 auto; 
}
.item-pizza {
    width:33.33px;
}

.nav-mobile nav ul{
    list-style: none;
}
.container-content {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1rem;
}

@media only screen and (max-width: 600px) {
    .container-content {
        width:100%;
    }
    .number-cart {
        position: absolute;
        top: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
    }
}