<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxFlexFill fxLayoutAlign="center center" fxHide.lt-sm="true">
      <a href="#" mat-button>Wood-fired Pizza</a>
      <a href="#" mat-button>Pasta</a>
      <a href="#" mat-button>Tacos</a>
      <a href="#" mat-button>Nachos</a>
      <a href="#" mat-button>Grilled & Fired</a>
      <a href="#" mat-button>Salad</a>
      <a href="#" mat-button>Burger</a>
      <a href="#" mat-button>Drinks</a>
    </div>
    <div fxFlexFill fxLayoutAlign="end center" fxShow="true" fxHide.gt-xs="true">
      <span>Menu</span>
      
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column" style="width:50vw;">
      <div fxLayout="column">
        <a href="#" mat-button>Wood-fired Pizza</a>
        <a href="#" mat-button>Pasta</a>
        <a href="#" mat-button>Tacos</a>
        <a href="#" mat-button>Nachos</a>
        <a href="#" mat-button>Grilled & Fired</a>
        <a href="#" mat-button>Salad</a>
        <a href="#" mat-button>Burger</a>
        <a href="#" mat-button>Drinks</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content style="width:100%;max-width:1280px;margin-left:auto;margin-right:auto;margin-top:1rem;" @items>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
