<mat-card fxLayout="row" fxLayout.gt-xs="column" class="mat-elevation-z">
  <div fxFlex.xs="1.6 1 0%" class="image-pizza">
    <img class="card-image" [src]="itemPizza?.srcImg">
    <h3 style="text-align: center;color:#3f51b5">{{itemPizza.price | number}} vnd</h3>
  </div>  
    <div fxFlex.xs="2.4 1 0%" style="padding-left: 1rem;">
    <mat-card-content>
      <p class="line-text" style="font-weight: 500;">{{itemPizza.name}}</p>
      <p class="line-text">{{itemPizza.description}}</p>
    </mat-card-content>
    <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutAlign.xs="none" >
      <button *ngIf="!isHalf" mat-raised-button class="mat-elevation-z" fxFlex="45%" fxFlex.xs="auto" (click)="addToCart()">Add to cart</button>
      <button *ngIf="!isExist" mat-raised-button color="primary" class="mat-elevation-z" fxFlex="45%" (click)="selectHalf()" fxFlex.xs="auto">Select</button>
    </div>
   </div>
  </mat-card>