<div fxFlexFill fxLayout="row wrap">
    <app-card-item fxFlex="100%" fxFlex.gt-sm="33.333%" fxFlex.gt-xs="50%" style="padding: 0 1rem 1rem 1rem;"></app-card-item>
    <app-card-item fxFlex="100%" fxFlex.gt-sm="33.333%" fxFlex.gt-xs="50%" style="padding: 0 1rem 1rem 1rem;"></app-card-item>
    <app-card-item fxFlex="100%" fxFlex.gt-sm="33.333%" fxFlex.gt-xs="50%" style="padding: 0 1rem 1rem 1rem;"></app-card-item>
    <app-card-item fxFlex="100%" fxFlex.gt-sm="33.333%" fxFlex.gt-xs="50%" style="padding: 0 1rem 1rem 1rem;"></app-card-item>
    <app-card-item fxFlex="100%" fxFlex.gt-sm="33.333%" fxFlex.gt-xs="50%" style="padding: 0 1rem 1rem 1rem;"></app-card-item>
    <app-card-item fxFlex="100%" fxFlex.gt-sm="33.333%" fxFlex.gt-xs="50%" style="padding: 0 1rem 1rem 1rem;"></app-card-item>
</div>